<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
<h1>Orchids International Schools</h1>

    <form method="POST" class="studentloginForm" action="{% url 'login' %}">
        <fieldset style="borde:5px solid cyan">
        <legend><h2>Login here</h2></legend>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-default">Login</button>
            </fieldset>
    </form>
</body>
</html>