<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
    {% for i in stu %}
        <p>{{i.Name}}</p>
        <p>{{i.Enrollmentnumber}}</p>
        <p>{{i.studentgrade}}</p>
        <p>{{i.sec}}</p>
        <p>{{i.email}}</p>
        <p>{{i.phone}}</p>
        <p>{{i.profilepic}}</p>
    {% endfor %}
</body>
</html>